{% extends 'calendar-base.html' %}

{% block title %}Fantasia 2025 Calendar{% endblock %}

{% block header %}
<header>
    <h1>Fantasia 2025</h1>
    <a href="https://fantasiafestival.ticketpro.ca/en/pages/Fantasia2025">Buy Tickets</a>
</header>
{% endblock %}

{% block event_content %}
<article class="card">
    <time>{{ event.time }}</time>
    <a href="{{ event.link }}">{{ event.title }}
        {% if event.director %}
        - {{ event.director }}
        {% endif %}
    </a>
    <img onclick="opendialog(event)" src="/images/info.svg">
    <dialog closed style="--image: url('{{event.image}}')">
    <p><strong>Title:</strong> {{event.title}}</p>
    {% if event.director %}
    <p><strong>Director:</strong> {{ event.director }}</p>
    {% endif %}

    {% if event.description%}
    <p><strong>Description:</strong> {{event.description}}</p>
    {% endif %}
    <button>✕</button>
    </dialog>
</article>
{% endblock %}
